.cssAnim1 {
    border: 1px solid red;
    width: 200px;
    height: 200px;
    display: block;
    overflow: hidden;
}

.cssAnim1 img {
    width: 100%;
    transition: all .3s linear;
}

.imgScale img {
    transform: scale(1.5);
}

a {
    text-decoration: underline;
    color: red;
}

a:hover {
    text-decoration: none;
}

.ttpShow {
    display: none;

}

#ttpPanel {
    padding: 15px;
    width: 200px;
    text-align: left;
    border: 3p solid #ccc;
    position: absolute;
    z-index: 99;
    background-color: #fff;
    display: none;
}