*{
    margin: 0;
    padding: 0;
    list-style: none;
}

a{
text-decoration: none;
color: black;
}
a:hover{

}
#wrapper{
    width: 900px;
    /* border:1px solid red; */
    text-align: center;
    margin: 0 auto;
}

/* 按鈕區 */
#filterBtn{
    padding: 30px;
}

#filterBtn a{
    border:1px solid #ddd;
    margin: 0 10px;
    padding: 5px 30px;
    border-radius: 30px;
    background: linear-gradient(to bottom,#fff 40%,#ddd 100%);
}

#filterBtn a:hover{
    background:#fff;
}

/* 作用中的按鈕被左鍵一下時，變色 */
/* active類別是動態給的 */
#filterBtn a.active{
    color: red;
    font-weight: bold;
}

/* 圖片區 */
#filterList ul{
    margin: 0 auto;
    width: 100%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

#filterList ul li{
    margin: 5px;
    width: 150px;

}

#filterList ul li img{
    width: 150px;
}