body{
    background-color: rgb(202, 198, 230);
}

#container{
padding: 30px;
    width: 768px; 
    margin: 0 auto;
    background-color: white;
}

h1{
font-size: 30px;
}
.img1,.img2{
    width: 100%;
    
    
}

